{% extends 'base.html' %}
{% block content %}
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img  src="{{product.image.url}}}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">{{product.name}}</h2>
                    <h4>price is:{{product.price}}</h4>
                    <h4>{% if product.stock > 0 %} available:{{product.stock}} currently {% endif %}</h4>
                    <h3>description:</h3>
                    <p>{{product.description}}</p>
                    {% if user.is_superuser%}
                    <a class="btn hvr-hover" href="{% url 'shop:addstock' product.id %}">add stock</a>
                    {% else %}
                    {% if product.stock > 0 %}
					<a class="btn hvr-hover" href="{% url 'cart:addtocart' product.id %}">Add To Cart</a>
                    {% else %}
                    <h2>out of stock</h2>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
 </div>
{% endblock %}